.asterisk {
    font-style: normal;
    color: red;
}
.admin-hide {
    display: none;
}
.records {
    color: red;
    font-weight: bold;
}
[data-notify="container"] {
    width: auto;
}
[data-notify="message"] {
    padding-left:10px;
    padding-right:10px;
}

/**表单 自定义**/
.form-group > label {
    width: 65px;
    text-align: right;
    margin-right: 5px;
}

.form-group > input[type="text"] {
	width: 206px;
}

.form-inline > .btn-group {
    margin-left: 20px;
    margin-top: -3px;
}
/**表单 自定义**/

/**左侧树二级菜单**/
ul.treeview-menu > li {
    margin-left: 20px;
    padding: 2px;
}
/**菜单选中字体颜色**/
span.active {
	color: white;
}
/**左侧树二级菜单**/